<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <!-- tr -->
    <% for(let i=0; i<categories.length; i++){ %>
      <tr>
        <td>
          <%= i+1 %>
        </td>
        <td>
          <%= categories[i].name %>
        </td>
        <td>
          <form action="" class="btn btn-warning">
            <a href="">
              <i class="fa fa-pencil-alt"></i>
              Ubah
            </a>
          </form>
          <button class="btn btn-danger">
            <i class="fa fa-trash"></i>
            Hapus
          </button>
        </td>
      </tr>
      <% } %>
  </tbody>
  <!-- <tfoot>
    <tr>
      <th>Rendering engine</th>
      <th>Browser</th>
      <th>Platform(s)</th>
      <th>Engine version</th>
      <th>CSS grade</th>
    </tr>
  </tfoot> -->
</table>